/* Add CSS Styling */
.item {
	font-family: Verdana, "DejaVu Sans", sans-serif;
	background: rgb(255, 150, 150);
}

.cooler {
	font-size: 24px;
}

#bluetext {
	color: #0000FF;
	font-size: 36px;
}

#greenbold {
	background: rgb(150, 255,150);
	font-size: 24px;
	font-weight: bold;
}