/* Add CSS Styling */

.blackbutton,.yellowbutton {
	font-size: 28px;
	font-family: Helvetica, "Times New Roman", sans-serif;
}

.blackbutton {
	background: black;
	color: white;
}

.yellowbutton {
	background: yellow;
}